@import "./header";

@font-face{
	font-family:OpenSans-Bold;
	src:url(../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face{
	font-family:OpenSans-Regular;
	src:url(../fonts/open-sans/OpenSans-Regular.ttf);
}

.bshad-thin{
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);
}

body{
	margin: 0;
	padding: 0;
}

.pt-10{
	padding-top: 10px;
}

.block{
	display: block !important;
}

.textcenter{
	text-align:center;
}

.top{
	top:0;
}

.none{
	display: none !important;
}

.none-2{
 	display: none;
 }

.fixed{
	position: fixed;
}

.bshadow{
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.container {
  max-width: 86%;
  margin: 0 auto;
  position: relative;
}

.radius-5{
	border-radius: 5px;
}

.f-48{
	font-size: 48px !important;
}

.f-19{
	font-size: 19px !important;
}

.f-20{
	font-size: 20px !important;
}

.f-41{
	font-size: 41px !important;
}

.f-40{
	font-size: 40px !important;
}

.f-30{
	font-size: 30px !important;
}

.f-16{
	font-size: 16px !important;
}

.f-25{
	font-size: 25px !important; 
}

.f-26{
	font-size: 26px !important; 
}

.f-18{
	font-size: 18px !important;
}

.f-17{
	font-size: 17px !important;
}

.f-31{
	font-size: 31px !important;
}


.f-15{
	font-size: 15px !important;
}

.f-13{
	font-size: 13px !important;
}

.bg-white{
	background: #fff !important;
}

.bold{
	font-weight: bold !important;
}

.fw-700{
	font-weight: 700 !important;
}

.ff-seg{
	font-family: 'Segoe UI';
}

.f-14{
	font-size: 14px;
}

.doww{
	margin-top: 40px;
}

.mt-2{
	margin-top: 15px;
}

header{

	box-sizing: border-box;
	padding-top: 10px;
	height: 120px;

}

.logo-wrapper{
	float: left;
	padding-top: 16px;	
}

#logo{
	border-radius: 100%;
	background: #FBB72B;
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 5px;
}

.logo-top{
	text-decoration: none;
	color: #000;
}

.upper-nav h3{
	font-family: OpenSans-Bold;
	padding-top: 5px;
	padding-bottom: 7px;
	float: left;
	margin:0;
}

.lower-menu{
	float: right;
	padding-top: 15px;
}

.lower-menu ul{
	float: right;
	margin: 20px 0 0 0;
	padding-top: 10px;
}

.lower-menu ul li{
	float: left;
	list-style-type: none;
	padding-left: 20px;	
}

.lower-menu ul li a{
	text-decoration: none;
	color: #000;
	font-family: OpenSans-Regular;
}


.upper-nav{
	width: 100%;
	display: block;
	height: 36px;
}

.scroll-animate{
	display: none;
	// width: 530px;
	left:0;
	right: 0;
	min-width: 100px;
	height: 100%;
	float: left;
	z-index: 9999;
	transition: 2s;

	.lower-menu{
		padding-top: 10px;
	}
	

	ul{
		padding: 0 !important;	
		float: right;

	}
}

.header-wrapper{
	background: none;

	z-index: 999999;
	width: 100%;

	transition: .5s;
	height: 50px;


}

.logo-scroll{
	padding-top: 0 !important;


}

#nav-line{
	width: 100%;
	height: 1px;
	background:#999;
	display:block;
	position: relative;
	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);
}

// #nav-line::before{
// 	width: 100%;
// 	height: 2px;
// 	background-position: top center;
// 	display: block;
// 	background-repeat: no-repeat;
// 	background: url(../images/page/index.png);
// 	position: absolute;
// 	content: '';
// 	top: 0;
// 	left:0;
// 	background-size: auto 100%;
// }



#phone-mail{
	float: left;
	margin: 0;
	padding:0;
}

#phone-mail li{
	float: left;
	padding-left: 10px;
	list-style-type: none;
	padding-top: 0;

}

#phone-mail li div{
	float: right;
	padding-top: 1px;
}

#phone-mail li div a{
	text-decoration:none;
	color:#000;
}

#phone-mail li:nth-child(2) div{
	padding-top: 0.5px;
}

#phone-mail li:nth-child(1) {
	margin-top: -1.3px;
}

#phone-mail li img{
	float: left;
	width: 15px;
	margin: 4px; 

}

.upper-nav-right{
	float: right;

}


#nav-kanan{
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

#nav-kanan ul{
	float: left;
	padding-left: 0px;
}

#nav-kanan li{
	float: left;
	padding-left: 15px;
}

#nav-kanan li:nth-child(1){
	display: inline-flex;
	padding-left: 0;
}

#nav-kanan li div{
	float: right;
	margin-left: 8px;
}

#nav-kanan li div img{
	cursor: pointer;
}

#nav-kanan li a{
	text-decoration: none;
	color: #000;
}

.daftar{
	border: 1px solid #000;
	padding: 5px 30px 8px 30px;
	border-radius: 20px; 
}

.dropbtn {
 background:none;
  color: #000;
  padding: 0px;
  font-size: 14px;
  border: none;

  img{
  	width: 13px;
  }
}

.dropbtn-2{
	margin-top: 1px;
	font-family: OpenSans-Regular;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 80px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;

  img{
  	padding-top: 0px;
  	width: 20px;
  	margin-right: 12px;
  }
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.lower-nav{
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	transition: 1s;
	z-index: 999;
}

.logo-wrapper{
	padding-top: 16px;	
}

#logo{
	border-radius: 100%;
	background: #FBB72B;
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 5px;
}

.logo-top{
	text-decoration: none;
	color: #000;
}

.lower-nav{
	position: relative;
}

.lower-nav h3{
	font-family: OpenSans-Bold;
	padding-top: 5px;
	padding-bottom: 7px;
	float: left;
	margin:0;
}

.lower-menu{
	float: right;
}

.lower-menu ul{
	float: right;
	margin: 0;
	padding-left: 0;
	padding-top: 8px;
}

.lower-menu ul li{
	float: left;
	list-style-type: none;
	padding-left: 20px;	
}

.lower-menu ul li a{
	text-decoration: none;
	color: #000;
	font-family: OpenSans-Regular;
}


#nav-icon1 {
  margin-top: 22px;
  width: 30px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;

  display: none;
  }

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.banner{
	display: flex;
	position: relative;
	width: 100%;
	background: url(../images/content/bg_hdr.png);
	color: #fff;
	display: block;
	padding-top: 100px;
	height: 470px;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner:before{
	width: 100%;
	height: 7px;
	background-position: top center;
	display: block;
	background-repeat: no-repeat;
	background: url(../images/page/index.png);
	position: absolute;
	content: '';
	top: 0;
	left:0;
	background-size: auto 100%;
}

.banner-left{
	display: block;
	max-width:65%;
	padding-top: 90px;
	margin: 0 auto;
}


.banner-left h2{
	max-width: 60%;
}

.location{
	width: 100%;
	height: 37px;
	background: #fff;
	padding: 15px 12px 16px 12px;
	border-radius: 8px;
	position: relative;
	margin-top: 30px;
}

#cari{
	width: calc(100% - 10px);
	height: 35px;
	border-radius: 8px;
	border:1px #888888 solid;
	padding-left: 10px;
}

#lokasi{
	width: calc(100% - 10px);
	height: 100%;
	border-radius: 8px;
	border:1px #888888 solid;
	padding-left: 10px;
}

.cari-wrapper{
	width: 350px;
	height: 35px;
	float: left;
}

.lokasi-wrapper{
	width: 200px;
	height: 35px;
	float: left;
	margin-left: 10px;
	position: relative;	

}

.lokasi-wrapper::after{
	content:"";
	display: block;
	background: url(../images/icon/MapPin.png);
	height: 30px;
	position: absolute;
	margin-left: -35px;
	background-repeat: no-repeat;
	width: 25px;
	border:none;
	background-position: center;
	cursor: pointer;	
	right: 0;
	top: 3px;
}

#submit{
	float: right;
	background: #FBB72B;
	border: none;
	border-radius: 40px;
	height: 40px;
	width: 180px;
	color: #fff;
	cursor: pointer;
}

.card {
    width: calc(100%);
    height: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
 
    margin-right:41px;
    transition: all 0.25s;

    &:nth-child(4) {
      margin: 0;
    }



    &:hover {
      top: -15px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    h4 {
      font-weight: 600;
    }

    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
    }

    img{
    	width: 100%;
    	top: 0%;
    	position: relative;
    }

  }


.row-2{
	padding-top: 50px;
	width: 100%;
	padding-bottom: 20px;
	display: block;
}

.row-2 h2{
	margin: 0;
}

.row-2 .desc{
	float: left;
	font-size: 13px;
	color: #888888;
}

.slngkp{
	float: right;
	color: #FBB72B;
	text-decoration: none;
	font-weight: bold;
}

.row-3{
	width: 100%;
	padding-top: 20px;
	height: 380px;
}

.masakan-wrapper{
	position: relative;
	width: calc(20% - 30px);
	margin-left: 15px;
	margin-right: 15px;
	float: left;
	height: 305.45px;
	cursor: pointer;
	z-index: 10;
		
	}

	.masakan{
	position: absolute;	
	width: 100%;
	height: 100%;
	transition: .3s;
}

.masakan-img{
	height: 100%;
	width: calc(100%);
	z-index: 0;
	overflow:hidden;
}

.masakan-img img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}


.image-food { 
margin: 0; 
border: 0 ;
}


.nama-masakan{
	position: absolute;	
	background-color: #fff;
	width: calc(100% - 10px);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0;
	z-index: 11;
	right: 0;
	box-shadow:0 0px 0px 0 rgba(0,0,0,0.0);
	
	.logo-masakan{
		background: #FBB72B;
		border-radius: 100%;
		height: 30px;
		width: 30px;
		float: left;
		margin-right: 8px;
	}

	p{
		color: #888888;
		font-family: Segoe UI;
		padding-top: 4px;
		font-size: 14px;
	}

}

.popup-wrapper{
	position: relative;
}

.popup-area {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  position: fixed;
  display: none;
  z-index: 9;
  top: 0;
  float: left;
  cursor: pointer;	
}

.popup-vid {
  position: relative;
  display: flex;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  background: #fff;
  z-index: 11;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  cursor: default;
}

.vids-1{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}

.close-vid{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  
  img{
  	width: 90%;
  	margin: 0 auto;
  }
  
}

.activex {
  display: flex;
  float: left;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
}

.row-4{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 20px;
	display: block;

	h2{
		margin: 0;
	}

	.desc{
		float: left;
		font-size: 13px;
		color: #888888;
	}
}

.row-5{
	width: 100%;
	padding-top: 20px;
	height: 360px;

	.video-1{
		width: calc(50% - 15px);
		float: left;
		margin-right: 15px; 
		position: relative;

		img{
			width: 100%;
			border-radius: 5px;
		}	

		.video-click{
			position: absolute;
			float: left;
			width: 50px;
			height: 50px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			img{
				position: absolute;
				z-index: 5;
				width: 50px;
				cursor: pointer;
				transition: 1s;
			}

			img:hover{
				width:60px;
			}
		}
	}
	
	.video-2{
		width: calc(50% - 15px);
		float: left;
		position: relative;
		margin-left: 15px;

		img{
			width: 100%;
			border-radius: 5px;
		}	

		.video-click{
			position: absolute;
			float: left;
			width: 50px;
			height: 50px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			img{
				position: absolute;
				z-index: 5;
				width: 50px;
				cursor: pointer;
			}
		}
	}

}

.row-6{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 20px;
	display: block;

	h2{
		margin: 0;
	}

	.desc{
		float: left;
		font-size: 13px;
		color: #888888;
	}
}

.row-7{
	width: 100%;
	height: 380px;
}



	.rating{
		position: absolute;
		float: left;
		margin-top: 5px;


		img{
			position: relative;
			width: 20px;
		}
	}


.overlay-price{
			position: absolute;
			bottom: 25%;
			left: 7%;
			font-family: Segoe UI, sans-serif;
			z-index: 4;
			width: 80%;

			h3{
				margin: 0;
				color: #fff;
				font-weight: bold;
			}
			 h4{
			 	margin: 0;
			 	color: #FBB72B;	
			 	font-family: Segoe UI;
			 	font-weight: normal;
			 	font-size:20px;
			 }
		}

.row-8{
	width: 100%;
	height: 50px;
	h2{
		margin: 0;
		float: left;
	}
}

.row-9{
	width: 100%;
	height: 370px;

	.emak-card{
		width: calc(25% - 20px);
		margin-left: 10px;
		margin-right: 10px;
		box-shadow:0 1px 10px 0 rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0.1);
		float: left;

		.emak-img{
			width: 100%;
			height: 150px;

			img{
				width: 100%;
				height: 150px;

			}
		}

		.emak-detail{
			width: calc(100% - 20px);
			padding-left: 20px;
			padding-bottom: 20px;		
			padding-top: 20px;
			

			span{
				font-family: Segoe UI;
				color: #888888;
				font-weight: 700;
				font-size: 12px;
			}

			.nama{
				padding-top: 10px;
				font-family: Segoe UI;
				color:#FBB72B;
				font-weight: 700;
			}

			.ket{
				font-family: Segoe UI;
				color: #888888;
				font-weight: 500;
				font-size: 14px;
				margin-bottom: 40px;
			}

			a{

				border: solid 1px #FBB72B;
				text-decoration:none;
				color: #888888;
				font-family: Segoe UI;
				border-radius: 30px;
				padding: 1px 20px 1px 20px;
				font-size: 14px;
				margin-left:110px;
			}
		}
	}
}

.row-10{
	width: 100%;
	height: 50px;

	h2{
		margin: 0;
		float: left;
	}
}

.row-11{
	width: 100%;
	height: 380px;

	.news{
		width: 100%;
		height: 2;
		position: relative;

		.main-news{
			width: calc(50% - 16px);
			margin-right: 8px;
			height: 275px;
			position: relative;
			float: left;

			.main-img{
				width: 100%;
				position: relative;
				height: 337.4px;


				img{
					width: 100%;
					height: 275px;
				}
			}
			
			.main-news-text{
				display: none;
			}

			.news-overlay{
				height: calc(70px - 25px);
				width: calc(100% - 20px);
				position: absolute;
				bottom: 0;
				padding-left: 20px;
				padding-top: 20px;
				padding-bottom: 20px;
				background: rgba(#000, 0.6);

				h3{
					margin: 0;
					color:#fff;
					font-weight: 500;
					font-family: Segoe UI	;
				}

				p{
					float: left;
					color: #fff;
					font-family:Segoe UI;
				}
				img{
					float: left;
					color: #fff;
					width: 12px;
					margin-top: 5px;
					margin-left: 15px;
					margin-right: 5px;
				}
			}	
		}

		.secondary-news{
			width: 50%;
			float: left;
			position: relative;

			.news-1{
				width: 100%;
				height: 135px;

				.news-img{
					width: 30%;
					height: 133.08px;
					float: left;


					img{	
						width: 100%;
						border-radius: 5px;
					}
				}
				.news-desc{
					height: calc(133.08px - 6px);
					width: calc(70% - 20px);
					float: left;
					
					padding: 3px;
					padding-left: 10px;
					h4{
						font-family: Segoe UI;
						font-weight: 500;
						margin:0;
					}

					p{
						color: #707070;
						font-size: 13px;
						font-family: Segoe UI;
						float: left;
					}

					img{
						margin-top: 3px;
						width: 13px;
						float: right;
						margin-right: 8px;
					}

					.tgl{
						margin-top: 2.2px;
						font-family: Segoe UI;
						font-size: 11px;
						color: #707070;
						float: right;
					}

					.text-news{
						margin-top: 6px;
						float: left;
						font-size: 12.5px;

						a{
							color: #FBB72B;
							text-decoration:none;
						}
					}
				}
			}

			.news-2{
				width: 100%;
				margin-top: 7.5px;
				height: 100%;

				.news-img{
					width: 30%;
					height: 133.08px;
					float: left;


					img{	
						width: 100%;
						border-radius: 5px;
					}
				}
				.news-desc{
					height: calc(133.08px - 6px);
					width: calc(70% - 20px);
					float: left;
					
					padding: 3px;
					padding-left: 10px;
					h4{
						font-family: Segoe UI;
						font-weight: 500;
						margin:0;
					}

					p{
						color: #707070;
						font-size: 11px;
						font-family: Segoe UI;
						float: left;
					}

					img{
						margin-top: 3px;
						width: 13px;
						float: right;
						margin-right: 8px;
					}

					.tgl{
						margin-top: 2.2px;
						font-family: Segoe UI;
						font-size: 11px;
						color: #707070;
						float: right;
					}

					.text-news{
						margin-top: 6px;
						float: left;
						font-size: 12.5px;

						a{
							color: #FBB72B;
							text-decoration:none;
						}
					}
				}
			}

		}	
	}
}

.row-12{
	width: 100%;
	border-top: solid 0.5px #707070;
	border-bottom: solid 0.5px #707070;
	height: 280px;
	padding-top: 45px;
	
	.col-1{
		max-width: 200px;
		float: left;

		.wrapper{
			height: 60px;
			width: 100%;
		}

		.logo{
			width: 40px;
			height: 40px;
			background: #FBB72B;
			float: left;
			border-radius: 100%;
		}

		h3{
			font-family: OpenSans-Bold;
			margin: 0;
			float: left;
			margin-top: 5px;
		}

		p{
			color: #888888;
			font-family: Segoe UI;
			font-size:13px;
		}
	}

	.col-2{
		float: left;
		padding-top: 5px;
		max-width: 80px;
		margin-left: 120px;

		span{
			font-size:12px;
			color: #888888;
			font-family: Segoe UI;
			font-weight: bold;
		}

		ul{
			margin-top: 30px;
			padding: 0;
			list-style: none;

			li{
				padding-top: 3px;
				a{
					color: #888888;
					text-decoration: none;
					font-family: Segoe UI;
					font-size:11px;
				}
			}
		}
	}

	.col-3{
		float: left;
		padding-top: 5px;
		max-width: 100px;
		margin-left: 120px;

		span{
			font-size:12px;
			color: #888888;
			font-family: Segoe UI;
			font-weight: bold;
		}

		ul{
			margin-top: 30px;
			padding: 0;
			list-style: none;

			li{
				padding-top: 3px;
				a{
					color: #888888;
					text-decoration: none;
					font-family: Segoe UI;
					font-size:11px;
				}
			}
		}
	}

	.col-4{
		float: left;
		padding-top: 5px;
		max-width: 150px;
		margin-left: 120px;

		span{
			font-size:12px;
			color: #888888;
			font-family: Segoe UI;
			font-weight: bold;
		}

		ul{
			margin-top: 30px;
			padding: 0;
			list-style: none;

			li{
				padding-top: 5px;
				margin-top: 3px;
				margin-bottom: 3px;
					
				.logo{
					float: left;
					margin-top: 3px;
					margin-right: 3px;
					

					img{
						width:15px;
					}
				}	

				a{
					color: #888888;
					text-decoration: none;
					font-family: Segoe UI;
					font-size:11px;

				}
			}
		}
	}

}

footer{
	width: 100%;
	height: 30px;
}

//iPad
@include breakpoint-down(lg){
	.none-res{
		display: block;
	}

	.container{
		max-width: 90%;
		position: relative;
	}

	.upper-nav{
		display: none;

	}	

	#nav-line{
		display: none;
	}

	.lower-menu{
		padding-top: 0;
		height: 0;
		overflow: hidden;
		width: 100%;
		float: left;
		transition: 1s;
		position: fixed;
		top: 62px;

		ul{

			width: 100%;

			li{
				width: calc(100% - 10px);
				height: 100px;
				box-sizing: border-box;
				padding-top: 10px;
				padding-bottom: 15px;
				height: 40px;
				position: relative;
				overflow: hidden;		
				background: #fff;
				border-bottom: 1px solid #888;


				a{
					margin-top: 0;
				}

			}
		}
	}

	.lower-menu-active{
		height: 300px;
		display: block;
		top: 62px;
		position: fixed;
		z-index: 50;
		transition: 1s;
	}

	header{
		height: 70px;
		padding-top: 0;
		position: fixed;
		z-index: 99;
		background: #fff;
		width: 100%;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	}

	#nav-icon1{
		display: block;
		float: right;
	}
	
	.banner{
		height: 420px;
	}

	.banner-right{
		width: 0%;
	}

	.banner-left{
		padding-top: 70px;
		width: 85%;

		h2{
			text-align: center;
			margin: 0 auto;
		}
	}

	.cari-wrapper{
		width: calc(40%);
	}

	#cari{
		width: 100%;	
	}
	


	.location{
		min-width: 100%;
	}

	#lokasi{
		margin-left: 5px;
		width: 100%;
	}

	.lokasi-wrapper{
		width: 30%;
	}

	#submit{
		width: 22%;
		margin-left: 5px;

	}

	.row-3{
		height: 320px;
	}

	.masakan-wrapper{
		width: calc(25% - 30px);
		height: 250px;


		.masakan{
			height: 250px;

			.masakan-img{
				width: 100%;

				img{
					width: 100%;
					height: auto;
				}	
			}

			.nama-masakan{
				display: flex;
				align-content: center;
				align-items: center;
				vertical-align: middle;

				p{
					padding-top: 0;
				}
			}
		}
	}

	.masakan-wrapper:nth-child(5n+1){
		display: none;
	}

	.row-5{
		height: 250px;
	}

	.row-7{
		height: 400px;
	}

	.favorit-wrapper{
			width: calc(25% - 19px);
			display: block;
			height: 250px;
		
		.masakan{
			height: 250px;

			.rating{


			}

			.overlay-price{

			}

			.masakan-img{
				height: 209.66px;

				img{
					
					width: 100%;
					height: auto;
				}
			}

			.nama-masakan{

			}
		}
	}

	.masakfavorit-wrapper:nth-child(5n+1){
			display: none;
	}

	.row-9{
		height: 800px;

		.emak-card{
			width: calc(50% - 20px);
			margin-top: 20px;
			
			.emak-img{
				height: 175px;

				img{
					width: 100%;
					height: auto;
				}
			}

			.emak-detail{
				a{
					margin-left: 150px;
				}
			}
		}
	}

	.row-11{
		height: 900px;


		.news{
			width: 100%;

			.main-news{
				width: 100%;
				height: 337.4px;

				.main-img{

					img{
						height: auto;	
					}
				}

				.news-overlay{

				}

				.main-news-text{
					display: block;
					width: 100%;
					height: 100px;
					@include padding-y(20px);

					p{
						font-size: 13px;
						font-family: opensans, sans-serif;
					}

					p:nth-child(2){
						margin-top: 20px;
					}

					p:first-letter{
						margin-left: 10px;
					}
				}
			}

			.secondary-news{
				width: 100%;
				height: 400px;
				@include margin(200px,0,0,0);

				.news-1{
					width: calc(50% - 5px);
					float: left;
					padding-right: 5px;

					.news-img{
						width: 100%;

						img{
							@include border-radius(2px);
							height: 150px;
						}
					}

					.news-desc{
						margin-top: 20px;
						padding-left: 0;
						width: 100%;
					}
				}

				.news-2{
					width: calc(50% - 5px);
					padding-left: 5px;
					float: left;
					margin-top: 0;

					.news-img{
						width: 100%;

						img{
							@include border-radius(2px);
							height: 150px;
						}
					}

					.news-desc{
						margin-top: 20px;
						padding-left: 0;
						width: 100%;
					}
				}
			}
		}
	}

	.row-12{

		.col-1{

		}

		.col-2{
			margin-left: 50px;

		}

		.col-3{
			margin-left: 50px; 
		}

		.col-4{
			margin-left: 50px; 
		}
	}

}

@include breakpoint-down(sm){
	.none-3{
		display: none;
	}

	.none-2{
		display: block;
	}

	.container{
		max-width: 90%;
	}

	#nav-icon1{
		display: block;
	}

	.banner{
		height: 530px;

	}

	.banner-right{
	 	width: 0;
	}

	.banner-left{
			width: 100%;

			@include padding-y(50px);

			h2{
				text-align: center;
				margin:0 auto;
			}
		
		.location{
			width:80%;
			height: 134px;
			@include padding(20px);	
			margin:50px auto;

			#cari{
				width:calc(100% - 10px);
			}

			.lokasi-wrapper{
				width: 100%;
				height: 37px;
				@include margin-x(0);
				@include margin-y(10px);
			}

			.lokasi-wrapper::after{
				top: 3px;
			}

			.cari-wrapper{
				width: 100% !important;
			}

			#lokasi{
				position: relative;
				margin-left: 0;
				width:calc(100% - 10px);
			}

			#submit{
				width: 100%;
				@include margin(0,0,0,0);
			}
		}
	}

	.row-2{
		height: 30px;	

		.slngkp{
			margin-top: 10px;
			float: left;
		}
	}

	.row-3{
		margin-top: 20px;
		height: 600px;
	}

	.masakan-wrapper{
			width: calc(50% - 30px);
			margin-top: 20px;


			.zoom{
				width: 100%;
				height: 100%;
			}

			.masakan-img{
				width: 100%;
				height: 100%;	
			}
		}

	.row-4{
		height: 40px;
	}

	.row-5{
		height: 480px;

		.video-1{
			width: 100%;
			@include margin-x(0);
			@include margin-y(5px);
		}

		.video-2{
			width: 100%;
			@include margin-x(0);
			@include margin-y(5px);
		}
	}

	.row-7{
		height: 600px;

		.favorit-wrapper{
			width: calc(50% - 19px);
			margin-top:20px;
		}
	}
	.rating{
		position: absolute;	
		z-index: 3;
	}

	.row-9{
		height: 700px;

		.emak-card{
			height: 287px;

			.emak-img{
				height: auto;
			}

			.emak-detail{

				a{
					position: relative;
					float: right;
					margin-left: 0;
					bottom: 15px;
					right: 8px;
				}
			}
		}

		.down{
			margin-top: 20px;
		}
	}

	.row-11{
		height: 1000px;


		.news{

			.main-news{

				.main-img{
					height: 215px;
				}

				.news-overlay{
					bottom: 120px;
				}
			}
		}
	}
}

@include breakpoint-down(xs){
	.banner-left{
		max-width: 100%;

		h2{
			max-width: 100%;
		}

		.location{
			width: calc(100% - 30px) !important;
			@include padding(15px);	
			height: 163px;
			position: relative;	
			box-sizing: border-box;

			#cari{
				width: calc(100% - 10px);
				position: relative;
			}

			.cari-wrapper{
				width: 100%;
				position: relative;
			}

			#lokasi{
				width: calc(100% - 10px);
				position: relative;
			}

			.lokasi-wrapper{
				width: 100%;
				position: relative;
			}
		
			.lokasi-wrapper:after{
				margin-right: 10px;
			}

			#submit{
				width: 100%;
				position: relative;
			}
		}
	}


	.masakan-wrapper{
		height: 228px;


		.masakan{
			height: 228px;

			.masakan-img{
				height: 180px;

				 img{
				 	height: 180px;
				 }
			}
		}
	}

	.overlay-price{
		h4{
			font-size: 15px !important;
		}
	}

	.rating{
		

		img{
			width: 15px;
		}
	}




	.row-11{

		.main-news{
			

			.main-img{
				height: 160px !important;
			}

			.news-overlay{
				width: 100%;
				position: relative;
				padding: 8px !important;
				height: 40px !important;
				bottom: 173px !important;

				h3{
					font-size:15px;
				}

				p{
					font-size: 12px;
				}

				img{
					margin-top: 2px !important;
					margin-left: 10px !important;
				}
			}
		}
	}


	.row-12{
		height: 610px;

		.col-1{
			max-width: 100%;
		}

		.col-2{
			min-width: 100%;
			margin-left: 0;
			margin-top: 30px;

			ul{
				margin-top: 15px;
			}
		}

		.col-3{
			min-width: 100%;
			margin-left: 0;
			margin-top: 30px;

			ul{
				margin-top: 15px;
			}
		}

		.col-4{
			min-width: 100%;
			margin-top: 30px;
			margin-left: 0;

			ul{
				margin-top: 15px;
			}
		}
	}

}

@include breakpoint-down(md){
	.cari-wrapper{
		width: 	40% !important;
	}

	.lokasi-wrapper{
		width: 30%;
	}

	#submit{
		width: 20%;
	}

	.rating{

		img{
			width: 15px;
		}
	}
}


//lazy
img.lazy{
	width: 100%;
	height: 100%;
	display: block;
    background-image: url('../images/page/load.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}