@import "./header";

@font-face{
	font-family:OpenSans-Bold;
	src:url(../fonts/open-sans/OpenSans-Bold.ttf);
}



@font-face{
	font-family:OpenSans-Regular;
	src:url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face{
	font-family:Segoe-UI;
	src:url("../fonts/Segoe-UI.ttf");
}

@font-face{
	font-family:Segoe-UI-Bold;
	src:url("../fonts/Segoe-UI-Bold.ttf");
}

.w-100{
	width: 100%;
}

.f-yellow{
	color: #fbb72b !important;
}



.ff-segbold{
	font-family: Segoe-UI-Bold;
}

.m-center{
	margin: 0 auto !important;
}

.bshad-thin{
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);
}

.f-grey{
	color: #888888;
}

.f-darkgrey{
	color: #333333;
}

body{
	margin: 0;
	padding: 0;
}



.pt-10{
	padding-top: 10px;
}

.pl-10{
	padding-left: 10px;
}

.pl-20{
	padding-left: 20px;
}

.block{
	display: block !important;
}

.textcenter{
	text-align:center;
}

.textleft{
	text-align: left;
}
.textright{
	text-align: right;
}



.top{
	top:0;
}

.none{
	display: none !important;
}

.none-2{
 	display: none;
 }

.fixed{
	position: fixed;
}

.bshadow{
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.ff-osbold{
	font-family: OpenSans-Bold;
}

.ff-osregular{
	font-family: OpenSans-Regular;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.container {
  max-width: 86%;
  margin: 0 auto;
  position: relative;
}

.radius-5{
	border-radius: 5px;
}

.round{
	border-radius: 100%;
}

.mb-25{
	margin-bottom: 25px;	
}



.nav-line{
	width: 100%;
	height: 1px;
		background:#e6e6e6;
	display:block;
	position: relative;
	margin-top: 25px;
	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);
}

.l-none{
	list-style: none;
}

.f-48{
	font-size: 48px !important;
}

.f-19{
	font-size: 19px ;
}

.f-15{
	font-size: 15px;
}

.f-12{
	font-size: 12px;
}

.f-14{
	font-size: 14px;
}

.f-20{
	font-size: 20px;
}

.f-41{
	font-size: 41px !important;
}

.f-40{
	font-size: 40px !important;
}

.f-30{
	font-size: 30px !important;
}

.f-16{
	font-size: 16px !important;
}

.f-25{
	font-size: 25px !important; 
}

.f-26{
	font-size: 26px !important; 
}

.f-18{
	font-size: 18px !important;
}

.f-17{
	font-size: 17px !important;
}

.f-31{
	font-size: 31px !important;
}

.fright{
	float: right;
}

.f-15{
	font-size: 15px !important;
}

.f-13{
	font-size: 13px !important;
}

.bg-white{
	background: #fff !important;
}

.bg-semigrey{
	background: #FAFAFA;
	border: 1px solid #EAEAEA;
}

.bold{
	font-weight: bold !important;
}

.b-box{
	box-sizing: border-box;
}

.fw-700{
	font-weight: 700 !important;
}

.pt-45{
	padding-top: 45px;
}

.pt-40{
	padding-top: 40px;
}

.m-0{
	margin: 0;
}

.pt-40{
	padding-top: 40px;
}


.mt-40{
	margin-top: 40px;
}

.mt-5{
	margin-top: 5px;
}

.py-25{
	@include padding-y(25px);
}

.pt-50{
	padding-top: 50px;
}

.pt-25{
	padding-top: 25px;
}

.ff-seg{
	font-family: 'Segoe-UI';
}

.f-14{
	font-size: 14px;
}

.doww{
	margin-top: 40px;
}

.mt-30{
	margin-top: 30px;
}

.mt-20{
	margin-top: 20px;
}

.mt-10{
	margin-top: 10px !important;
}

.mt-15{
	margin-top: 15px !important;
}

.mb-15{
	margin-bottom: 15px !important;
}

.mb-10{
	margin-bottom: 10px !important;
}

.fleft{
	float: left;
}

.overflow-hidden{
	overflow: hidden;
}

.clearfix{
	overflow: auto;
	clear: both;
}

.flex{
	display: flex;
}

.f-center{
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.w-100{
	width: 100%;
}

.flex{
	display: flex;
}

.f-center{
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

.l-none{
	list-style: none;
}

.round{
	border-radius: 100%;
}

.fleft{
	float: left;
}



//search popup
.filter{
	
	.filter-list{
		margin-top: 10px;
	}
	
	.filter-search{
		margin-right: 20px;
	}
		
	input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + label {
	    color: #000;
	    font-family:Arial, sans-serif;
	    font-size:14px;
	    cursor: pointer;
	}
	input[type="radio"] + label span {
	    display:inline-block;
	    width:19px;
	    height:19px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    border-radius:  50%;
	}

	input[type="radio"] + label span {
	     background-color:#ebebeb;
	}

	input[type="radio"]:checked + label span{
	     background-color:#fbb72b;
	}

	input[type="radio"] + label span,
	input[type="radio"]:checked + label span {
	  transition:background-color 0.3s linear;
	}

	input[type="radio"] + label span,
	input[type="radio"]:checked + label span {
	  transition:background-color 0.3s linear;
	}
}
.popup-list{

	li{
		@include padding-y(10px);
		padding-right: 20px;
		display: list-item;
	}
}

.popup-trigger{
	cursor: pointer;
}

.popup-active{
	opacity: 1 !important;
	z-index: 99999999999999999999999999 !important;
	transition: .3s ease !important;
}

.popup-area-search{
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: -9999999;
	transition: .3s ease;
	opacity: 0;

	.close-popup{
		cursor: pointer;
		top: 10%;
		right: 10%;
		position: absolute;
		background: #fbb72b;
		padding: 10px;
		height: 10px;
			width: 10px;
		display: flex;
		align-items: center;
		align-content: center;
		vertical-align: middle;
		
		img{
			width: 100%;	
		}
	}

	.popup-wrapper-search{
		
		width: 60%;
		height: 100px;
		
		.search-box{
			margin-bottom: 20px;
			position: relative;
			overflow: hidden;
			
			.search-button{
				background: none;
				position: absolute;
				right: 0;
				border: none;
				outline: none;
				cursor: pointer;

			}

			input{
				outline: none;
				border: none;
				float: left;
				height: 35px;
				border-bottom: 1px solid #fbb72b;
				
			}	
		}
		
	}
}

.search-s{
	cursor: pointer;
}

.search-s .search{
	transition: .3s ease;
}

.search-s:hover .search{
	fill:#E1A01B;
}
// end popup

header{

	box-sizing: border-box;
	padding-top: 10px;
	height: 60px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}

.logo-wrapper{
	float: left;
	
}

#logo{
	border-radius: 100%;
	background: #FBB72B;
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 5px;
}

.logo-top{
	text-decoration: none;
	color: #000;
}

.upper-nav h3{
	font-family: OpenSans-Bold;
	padding-top: 5px;
	padding-bottom: 7px;
	float: left;
	margin:0;
}

.lower-menu{
	float: right;
	padding-top: 0px;
}

.lower-menu ul{
	float: right;
	margin: 20px 0 0 0;
	padding-top: 0px;
}

.lower-menu ul li{
	float: left;
	list-style-type: none;
	padding-left: 20px;	
}

.current-page{
	&:after{
		content:""; 
		background: #fbb72b; 
	  	position: absolute; 
	  	bottom: -10px !important; 
	  	left: 0; 
	  	height: 1px; 
	  	width: 100% !important;
	  	transition: .4s ease;
	}
}

.lower-menu ul li:last-child a{
	&:hover:after{
		display: none;	
	}
}

.lower-menu ul li a{
	text-decoration: none;
	color: #000;
	font-family: OpenSans-Regular;
	transition: .3s ease;
	position: relative;
	&:hover{
		color:#fbb72b !important;
		border-color: #fbb72b !important;
	}

	&:after{
		content:""; 
		background: #fbb72b; 
	  	position: absolute; 
	  	bottom: -10px; 
	  	left: 0; 
	  	height: 2px; 
	  	width: 0%;
	  	transition: .4s ease;
	}

	&:hover:after{
		width: 100%;
	}

	
}


.upper-nav{
	width: 100%;
	display: block;
	height: 36px;
}

.f-yellow{
	color: #FBB72B;
}

.bg-yellow{
	color: #FBB72B;
}

#nav-kanan{
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

.d-flex{
	display: flex;
}

#nav-kanan ul{
	float: left;
	padding-left: 0px;
}

#nav-kanan li{
	float: left;
	padding-left: 15px;
}

#nav-kanan li:nth-child(1){
	display: inline-flex;
	padding-left: 0;
}

#nav-kanan li div{
	float: right;
	margin-left: 8px;
}

#nav-kanan li div img{
	cursor: pointer;
}

#nav-kanan li a{
	text-decoration: none;
	color: #000;
}

.daftar{
	border: 1px solid #000;
	padding: 5px 30px 8px 30px;
	border-radius: 20px; 
}

.dropbtn {
 background:none;
  color: #000;
  padding: 0px;
  font-size: 14px;
  border: none;

  img{
  	width: 13px;
  }
}

.dropbtn-2{
	margin-top: 1px;
	font-family: OpenSans-Regular;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 80px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;

  img{
  	padding-top: 0px;
  	width: 20px;
  	margin-right: 12px;
  }
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.lower-nav{
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	transition: 1s;
	z-index: 999;
}


#logo{
	border-radius: 100%;
	background: #FBB72B;
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 5px;
}

.logo-top{
	text-decoration: none;
	color: #000;
}

.lower-nav{
	position: relative;
}

.lower-nav h3{
	font-family: OpenSans-Bold;
	padding-top: 6px;
	padding-bottom: 7px;
	float: left;
	margin:0;
}

.lower-menu{
	float: right;
}

.lower-menu ul{
	float: right;
	margin: 0;
	padding-left: 0;
	padding-top: 8px;
}

.lower-menu ul li{
	float: left;
	list-style-type: none;
	padding-left: 20px;	
}

.lower-menu ul li a{
	text-decoration: none;
	color: #000;
	font-family: OpenSans-Regular;
}


#nav-icon1 {
  margin-top: 22px;
  width: 30px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;

  display: none;
  }

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}




.left{
	float: left;
	width: 57.8%;

	.detail-img{
		width: 46.5%;
		float: left;
		overflow: hidden;
		box-sizing: border-box;
	}

	.detail-text{
		width: 53.5%;
		float: left;
		overflow: hidden;
		box-sizing: border-box;
	}

	.rating-wrapper{

		ul{

			li{
				float: left;

					img{
					width: 12px
				}

				&:last-child{
					float: none;
				}
			}
		}
	}
	
	.increment-wrapper{
		overflow: hidden;
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
		}

		input[type=number] {
			-moz-appearance: textfield;
		}

		.quantity-wrapper{
			padding-top: 2px;
			margin-left: 10px;
			float: left;
		}

		.quantity-counter{
			cursor: pointer;
			width: 20px;
			height: 20px;
			box-sizing: border-box;
			font-size: 10px;
			position: relative;

			.line-up{
				width: 60%;
				height: 1px;
				display: block;
				background: #999999;
				float: left;
				transform: rotate(90deg);
				position: absolute;
				background: #fff;
			}
		}

		.quantity-number{
			outline: none;
			float: left;
			margin-left: 5px;
			margin-right: 5px;
			border: none;
			background: none;
			width: 40px;
			border-bottom:1px solid #999999 ;
			text-align: center;
		}

		.increment{
			background: #fbb72b;
			float: left;

			.line-down{
				width: 60%;
				height: 1px;
				display: block;
				
				float: left;
				background: #fff;
			}
		}

		.decrement{
			border: 1px solid #999999;
			float: left;	
			
			.line-down{
				margin: 0 auto;
				width: 60%;
				height: 1px;
				display: block;
				float: left;
				background: #999999;
			}
		}
	}

	.catatan-wrapper{
		margin-top: 25px;

		input[type=text]{
			outline: none;
			margin-top: 12px;
			@include padding-y(12px);
			padding-left: 10px;
			width: 60%;
			color: #999999;	
			border: 1px solid #e0e0e0;
		}
	}

	.buy-wrapper {
		margin-top: 20px;
		padding-top: 10px;

		svg{
			width: 25px;
			height: 25px;
		}		
		
		.heart-toggle{
			border: 1px solid #fbb72b;
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			vertical-align: middle;
			align-items: center;
			border-radius: 100%;
			float: left;
			cursor: pointer;
			transition: .3s ease;

		}

		.liked{
			background: #fbb72b;
			transition: .3s ease;

			svg{
				path{
					fill: #fff !important;
				}
			}
		}

		a{
			@include padding-x(75px);
			@include padding-y(10px);
			background: #fbb72b;
			border-radius:25px ;
			float: left;
			color: #fff;
			text-decoration:none;
			margin-left: 10px;
			transition: .4s ease;

			&:hover{
				background:#E1A01B;
			}
		}
	}

	.product-condition{
		margin-top: 20px;
		margin-bottom: 20px;
		overflow: hidden;

		ul{

			li{
				float: left;
				max-width: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				@include padding-x(5px);
				flex-wrap: wrap; 
				color: #333333;

				&:nth-child(3) p{
						margin-top: -1px;
				}

				&:nth-child(4) p{
					margin-top: 2px;
				}
				
				img{
				
				
				}

				p{
					text-align: center;
					font-family: segoe-ui;
					margin-top: 5px;

				}

			}
		}
	}

	.svg-effect{
		
		path{
			fill: #fbb72b;
		}

		rect{
			stroke: #fbb72b;
		}
	}

	.tab-wrapper{
		margin-bottom: 30px;
		border-radius: 8px;
		background: #FAFAFA;
    	border: 1px solid #EAEAEA;
    	overflow: hidden;
    	margin-top: 30px;
    	padding: 14px;
		
		.tab-link-wrapper{
			height: 53px;
			border-bottom: 2px solid #eaeaea;

	    	.tab-changer{
	    		margin-right: 25px;
	    		cursor: pointer;

	    		span{
	    			color: inherit;
	    		}

	    		svg{
	    			margin-right: 13px;
	    		}

	    	}
	    }

    	.tab-content{
    		padding-top: 16px;
    		padding-left: 25px;
    	}
	}
}

path, rect{
	transition: .4s ease;
}

path{

}

.tab-content{
	display: none;
	float: left;
}

.tab-content.current{
	display: inherit;
}

.tab-changer:hover{
	color: #fbb72b !important;


}

.tab-changer:hover path{
	fill: #fbb72b !important;

}

.tab-changer:hover rect{
	stroke: #fbb72b	!important;
}

.tab-changer{
	transition: .4s ease;
}

.tab-changer-active{
	position: relative;
	transition: .3s;	
	
	&:after{
		background: #fbb72b;
		content:'';
		height: 2px;
		width: 120px;
		position: absolute;
		bottom: -13px;
		transition: .3s;
	}
}

.list-bahan{
	margin-bottom: 30px;
	list-style: none;
	
	li{
		margin-bottom: 10px;
		display: flex;
		vertical-align: middle;
		align-items: center;	

		&:before{
			top: 0;
			width: 12px !important;
			height: 12px !important;
			content:'';
			background: #fbb72b;
			border-radius: 100%;
			margin-right: 5px;
			margin-left: -13px;
			display: inline-block;
		}

		&:first-child{
			margin-top: 10px;
		}

	}
	
	.title-list{
		overflow: hidden;
		margin-bottom: 15px;

		h3{
			border-bottom: 2px solid #333333;
			float: left;
			padding-bottom: 7px;
		}
	}	
}

.right{
	width: 25%;
	overflow: hidden;
	box-sizing:border-box;
	padding-left: 30px;

	.seller-box{
		padding-left: 30px;
		padding-top: 10px;
		padding-right: 30px;
		padding-bottom: 30px;
		box-sizing: border-box;
		border-radius: 5px;

		h3{
			font-family: segoe-ui-bold;
			margin-top: 10px !important;
		}

		img{
			border-radius: 100%;
			width: 70px;
			height: 70px;
			object-fit: cover;
			object-position: left;
		}

		p{
			font-family: segoe-ui;
			margin-bottom: 20px;
		}
		
		a{
			text-decoration: none;
		}

		.send{
			text-decoration: none;
			background: #fbb72b;
			color: #fff;
			border-radius: 30px;
			@include padding-y(5px);
			@include padding-x(20px);
			font-family: segoe-ui-bold;
			transition: .3s ease;

				&:hover{
					background:#E1A01B;
					-webkit-box-shadow: 0 22px 28px 0 rgba(0,0,0,.1);
 					box-shadow: 0 22px 28px 0 rgba(0,0,0,.1);
				}
		}

		.nav-line{
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

//comment-box

.tab-3-content{
	padding-right: 25px;
}

.comment-1{
	margin-bottom: 20px;
	margin-top: 10px;
}

.comment-box{
	border: 1px #b6b6b6 solid;
	border-radius: 8px;

	
	.comment-topside{
		padding: 15px;
		

		.rating{

			.rate-list{

				li{
					margin-right: 4px;

					img{
						width: 15px;
						height: 15px;
					}
				}
			}
		}
	}
	
	.comment-line{
		background: #b6b6b6;
		height: 1px;
	}

	.comment-bottomside{
		display: flex;
		vertical-align: middle;
		align-items: center;
		@include padding-x(15px);
		@include padding-y(10px);
		
		.comment-button{
		margin-left: auto;

			a{
				float: right;
				text-decoration: none;
				color: #fff;
				background: #fbb72b;
				@include padding-x(30px);
				@include padding-y(5px);
				border-radius: 30px;
				transition: .3s ease;
			
				&:hover{
					background:#E1A01B;
					-webkit-box-shadow: 0 22px 28px 0 rgba(0,0,0,.1);
 					box-shadow: 0 22px 28px 0 rgba(0,0,0,.1);
				}
			}
		}

		img{
			margin-left: 10px;
			cursor: pointer;
		}
	}
}

.question-box{
	padding: 15px;
	margin-top: 20px;

	.comment-button{
		margin-left: auto;

		a{
			float: right;
			text-decoration: none;
			color: #fff;
			background: #fbb72b;
			@include padding-x(8px);
			@include padding-y(5px);
			border-radius: 30px;
			transition: .3s ease;

			&:hover{
				background:#E1A01B;
				-webkit-box-shadow: 0 22px 28px 0 rgba(0,0,0,.1);
	 			box-shadow: 0 22px 28px 0 rgba(0,0,0,.1);
			}
		}
	}
}

//end-comment-box

.card {
    width: calc(38.5%);
    height: 344px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
 
    margin-right:41px;
    transition: all 0.25s;

    &:nth-child(4) {
      margin: 0;
    }



    &:hover {
      top: -15px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    h4 {
      font-weight: 600;
    }

    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
    }

    img{
    	width: 100%;
    	height: 100%;
    	top: 0%;
    	position: relative;
    }

  }


.overlay-price{
			position: absolute;
			bottom: 25%;
			left: 7%;
			font-family: Segoe-UI, sans-serif;
			z-index: 4;
			width: 80%;

			h3{
				margin: 0;
				color: #fff;
				font-weight: bold;
			}
			 h4{
			 	margin: 0;
			 	color: #FBB72B;	
			 	font-family: Segoe-UI;
			 	font-weight: normal;
			 	font-size:20px;
			 }
		}


.nama-masakan{
	position: absolute;	
	background-color: #fff;
	width: calc(100% - 10px);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0;
	z-index: 11;
	right: 0;
	box-shadow:0 0px 0px 0 rgba(0,0,0,0.0);
	
	.logo-masakan{
		background: #FBB72B;
		border-radius: 100%;
		height: 30px;
		width: 30px;
		float: left;
		margin-right: 8px;
	}

	p{
		color: #888888;
		font-family: Segoe-UI;
		padding-top: 4px;
		font-size: 14px;
	}

}

.wrapper-all{
	padding-top: 100px;

	.left{
		width: 75%;

		.detail-box{

			.detail-img{

			}

			.detail-text{

				.rating-wrapper{


					ul{
						margin-right: 10px;

						li{
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}

.row-12{
	width: 100%;
	border-top: solid 0.5px #e6e6e6;
	border-bottom: solid 0.5px #e6e6e6;
	overflow: hidden;
	box-sizing: border-box;
	padding-top: 45px;
	padding-bottom: 30px;
	
	.col-1{
		width: calc(100% / 4);
		float: left;

		.wrapper{
			height: 60px;
			width: 100%;
		}

		.logo{
			width: 40px;
			height: 40px;
			background: #FBB72B;
			float: left;
			border-radius: 100%;
		}

		h3{
			font-family: OpenSans-Bold;
			margin: 0;
			float: left;
			margin-top: 5px;
		}

		p{
			color: #888888;
			font-family: Segoe-UI;
			font-size:14px;
		}
	}

	.col-2{
		float: left;
		padding-top: 5px;
		width: calc(100% / 4 - 30px);
		margin-left: 150px;

		span{
			font-size:14px;
			color: #888888;
			font-family: Segoe-UI;
			font-weight: bold;
		}

		ul{
			margin-top: 30px;
			padding: 0;
			list-style: none;

			li{
				padding-top: 3px;
				a{
					color: #888888;
					text-decoration: none;
					font-family: Segoe-UI;
					font-size:14px;
				}
			}
		}
	}

	.col-3{

		float: left;
		padding-top: 5px;
		width: calc(100% / 4 - 50px);


		span{
			font-size:14px;
			color: #888888;
			font-family: Segoe-UI;
			font-weight: bold;
		}

		ul{
			margin-top: 30px;
			padding: 0;
			list-style: none;

			li{
				padding-top: 3px;
				a{
					color: #888888;
					text-decoration: none;
					font-family: Segoe-UI;
					font-size:14px;
				}
			}
		}
	}

	.col-4{
		float: left;
		padding-top: 5px;
		width: calc(100% / 4 - 80px);
	

		span{
			font-size:14px;
			color: #888888;
			font-family: Segoe-UI;
			font-weight: bold;
		}

		ul{
			margin-top: 30px;
			padding: 0;
			list-style: none;

			li{
				padding-top: 5px;
				margin-top: 3px;
				margin-bottom: 3px;
					
				.logo{
					float: left;
					margin-top: 3px;
					margin-right: 3px;
					

					img{
						width:15px;
					}
				}	

				a{
					color: #888888;
					text-decoration: none;
					font-family: Segoe-UI;
					font-size:14px;

				}
			}
		}
	}

}

footer{
	width: 100%;
	height: 30px;
}


@include breakpoint-down(md){
	.pesan-box{
		display: none;
	}
		.upper-nav{
		display: none;

	}	

	#nav-icon1{
		display: block;
	}

	#nav-line{
		display: none;
	}

	.logo-wrapper{
		margin-top: 13px;
	}
	
		.none-res{
		display: block !important;
	}

	.container{
		max-width: 90%;
		position: relative;
	}

	.upper-nav{
		display: none;

	}	

	#nav-line{
		display: none;
	}

	.lower-menu{
		padding-top: 0;
		height: 0;
		overflow: hidden;
		width: 100%;
		float: left;
		transition: .5s;
		position: absolute;
		top: 62px;
	

		ul{

			width: 100%;

			li{
				width: calc(100%);
				height: 50px !important;
				box-sizing: border-box;
				padding-top: 10px;
				padding-bottom: 10px;
				height: 40px;
				position: relative;
						
				background: #fff;


				


				a{
					margin-top: 0;
				}

			}
		}
	}

	.lower-menu-active{
		height: 310px;
		display: block;
		top: 62px;
		position: absolute;
		z-index: 50;
		transition: .5s;
		float: left;
	}

	header{
		height: 70px;
		padding-top: 0;
		position: fixed;
		z-index: 99;
		background: #fff;
		width: 100%;
		-webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  		  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
	}

	#nav-icon1{
		display: block;
		float: right;
	}

	.none-1{
		display: none;
	}

	.none-2{
		display: block;
	}
	
	
}

@include breakpoint-down(lg){
	//comment res

	.comment-bottomside{

		span{
			margin-left: 5px;
			margin-right: 5px;	
		}

		img{
			margin-left: 0 !important	;	
			margin-right: 8px;	
		}
	}

	//end comment res
	.container{
		width: 90%;
	}
	
	.left{
		width: 100% !important;
		
		.tab-changer{
			//width: 33%;	
			margin-right: 11px !important	;	
			svg{
				width: 30px;	
				height: 30px;			
					margin-right: 5px !important	;	
			}
		}
		
		.tab-changer-active{

			&:after{
				width: 100px;	
			}
		}

		.tab-changer-3{
			margin-right: 0 !important	;	
		}
		
		.tab-1-content{
			padding-left: 0 !important;
		}

		.tab-3-content{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		
		.product-condition{

			ul{
					
				li{
					max-width: 68px;	
				}
			}
		}

		.catatan-wrapper{

			input{
				width: 90% !important;
			}
		}

		.buy-wrapper{

			a{
				padding-left: 50px;	
				padding-right: 50px;	
			}
		}

		.detail-box{
			padding-right: 10px;

			.detail-img{
				width: 100%;
				max-height: 400px;
					
				&:after{
					position: absolute;
					content:'image by: https://pinterest.com';
					z-index: 9999999999999999999;
					color: #fff;
					bottom: 55px;
					left: 10px;
					display: block;
					font-family: segoe-ui;
					font-size: 12px;
				}	

				img{
					width: 100%;
					max-height: 400px;
					object-fit: cover;
					object-position: bottom;
				}
			}

			.detail-text{
				width: 100%;
				padding-left: 0;
			}
		}
	}

	.right{
		padding-bottom: 30px;
		width: 100% !important;
		padding-left: 0;
	}

	.row-12{
		overflow: hidden;

		.col-1{
			min-width: 100%;
		}

		.col-2{
			min-width: 100%;
			margin-left: 0;
			margin-top: 30px;

			ul{
				margin-top: 15px;
			}
		}

		.col-3{
			min-width: 100%;
			margin-left: 0;
			margin-top: 30px;

			ul{
				margin-top: 15px;
			}
		}

		.col-4{
			min-width: 100%;
			margin-top: 30px;
			margin-left: 0;

			ul{
				margin-top: 15px;
			}
		}
	}
}