<div class="container-header clear ">
				<button class="button-trigger button-show-header button-transparent ">
				<span></span>
				<span></span>
				<span></span>
				</button>
				<div class="header-logo float-left">
					<a href="/">
						<img src="assets/images/logo.svg" class="logo " alt="">
					</a>
				</div>
				<div class="header-flag float-left">
					<div class="dropdown dropdown-hover dropdown-rounded dropdown-flag">
						<div class="dropdown-trigger">
							<img src="assets/images/icons/flags/id.svg" class="float-left">
							<i class="float-left la bold la-angle-down"></i>
						</div>
						<div class="dropdown-after"></div>
						<ul class="dropdown-menu list-none clear">
							<li class="dropdown-list clear w-100" >
								<a href="#" title="Indonesia" class="clear">
									<img src="assets/images/icons/flags/id.svg" alt="" class="float-left">
									<span class="float-left">Indonesia</span>
								</a>
							</li>
							<li class="dropdown-list clear w-100" >
								<a href="#" title="English" class="clear">
									<img src="assets/images/icons/flags/en.svg" alt="" class="float-left">
									<span class="float-left">English</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="navbar-after"></div>
				<div class="navbar-side-m header-nav">
					<ul class=" list-none ">
						<li class="nav-item float-left un-after search-on-mobile m-block">
							<form action="#" class="clear form-search-header">
								<input type="text" placeholder="SEARCH HERE..." name="key">
								<button>
								<i class="la la-search"></i>
								</button>
							</form>
						</li>
						<li class="nav-item float-left">
							<a href="#">PRODUCT</a>
						</li>
						<li class="nav-item float-left">
							<a href="#">BERITA</a>
						</li>
						<li class="nav-item float-left">
							<a href="#">KONTAK</a>
						</li>
						<li class="nav-item float-left un-after nav-header-form-search m-hidden">
							<form action="#" class="clear form-search-header ">
								<input type="text" placeholder="SEARCH HERE..." name="key" class="on-focus">
								<button>
								<i class="la la-search"></i>
								</button>
							</form>
						</li>
					</ul>
				</div>
				<ul class="list-none">
					<li class="nav-item float-left  dropdown-hover dropdown dropdown-cart un-after relative ">
						<a href="#" class="dropdown-cart dropdown-trigger ">
							<i class="la la-shopping-cart la-2x color-white-dark"></i>
							<span class="indicator absolute">
								<small>3</small>
							</span>
						</a>
						<div class="dropdown-after"></div>
						<ul class="dropdown-content list-none">
							<li class="list-header color-dark"><h4>Total 3 Barang</h4></li>
							<li class="dropdown-list clear w-100 color-dark " >
								<a href="#"  class="clear py-5 "><h4>Kursi remaja masjid</h4></a>
							</li>
							<li class="dropdown-list clear w-100 color-dark " >
								<a href="#"  class="clear py-5 "><h4>Kursi remaja masjid</h4></a>
							</li>
							<li class="dropdown-list clear w-100 color-dark " >
								<a href="#"  class="clear py-5 "><h4>Kursi remaja masjid</h4></a>
							</li>
							<li class="dropdown-list clear w-100 color-dark " >
								<a href="#"  class="clear py-5 "><h4>Kursi remaja masjid</h4></a>
							</li>
						</ul>
					</li>
				</ul>
			</div> 	